body {
    background-image: url("assets/img/Homepage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;    
}

#container{
    overflow: hidden;
}

#header{
    text-align: left;
    height: 85px;
    background: #ffffff;
    opacity: 0.8;
    width: 100%;
    margin-left: -8px;
    margin-top: -8px;
    z-index: -1;
    position: fixed;
    font-family: sans-serif;
    text-decoration: none;
}

#logga{
    margin-left: -30px;
    margin-top: 7px;
    width: 75px;
    height: auto;
}

a{
    float: right;
    color: black;
    margin-left: 15px;
    list-style: none;
    text-decoration: none;
    font-size: 120%;
    padding: 10px;
    background-color:black;
    color: white;
	border-radius:5px;
	border:2px solid #000000;
	cursor:pointer;
	font-family:sans-serif;
	font-size:14px;
	text-decoration:none;
    width: 90px;
    text-align: center;
}

a:hover{
    color: #b30000;
}

li{
    margin-bottom: 40px;
    float: left;
    text-decoration: none;
}

ul{
    list-style: none;
    text-decoration: none;
    margin-top: -20px;
}

#navMenu{
    float: right;
    margin-right: 30px;
    margin-top: -40px;
    letter-spacing: 2px;
}

#navLog{
    float: right;
    margin-right: 30px;
    margin-top: -65px;
}

#logo{
    margin-left: 40px;
    top: 30px;
}

h1{
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: 300%;
}

#loginForm input {
    width: 250px;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #000000;
    font-size: 14px;
    font-family: sans-serif;
    padding: 0 20px 0 50px;
    outline: none;
}

#loginForm input#username {
    margin-right: 10px;
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

#loginForm input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

#loginForm input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

#loginForm input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

#loginForm input:active, #loginForm input:focus {
    border: 2px solid #b30000;
}

#loginButt{
    width: 100px;
    margin: 10px;
    padding: 10px;
	background-color:black;
    color: white;
	border-radius:5px;
	border:2px solid #000000;
	cursor:pointer;
	font-family:sans-serif;
	font-size:14px;
	text-decoration:none;
}

#loginButt:hover {
	color: #b30000;
}

