body {
<<<<<<< HEAD
    background-image: scr="assets/img/Homepage.JPG";
=======
    background-image: url("assets/img/Homepage.jpg");
    background-size: cover;
    
>>>>>>> 32bbe2e3b9ca95a4e2afa09c9bbc6058be90d537
}